In [1]:
import pandas as pd
from imblearn.over_sampling import SMOTENC

seed = 36

train = pd.read_csv('../data/notebook_produced_2/train.csv')

train.head()

,y,job_retired,job_student,default_unknown,contact_cellular,contact_telephone,month_dec,month_mar,month_may,month_oct,month_sep,poutcome_success,pdays,previous,emp_var_rate,euribor3m,nr_employed,cons_price_idx,cons_conf_idx
0,no,0,0,0,1,0,0,0,0,0,0,0,0,0,-0.1,4.191,5195.8,0.93200,-42.0
1,no,0,0,1,0,1,0,0,1,0,0,0,0,0,1.1,4.857,5191.0,0.93994,-36.4
2,no,0,0,0,1,0,0,0,0,0,0,0,0,0,1.4,4.962,5228.1,0.93918,-42.7
3,no,0,0,0,1,0,0,0,0,0,0,0,0,0,1.4,4.958,5228.1,0.93918,-42.7
4,no,0,0,0,1,0,0,0,0,0,0,0,0,1,-0.1,4.076,5195.8,0.93200,-42.0

### oversample TRAINING set with SMOTE

In [2]:
cat_locations = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
over = SMOTENC(categorical_features=cat_locations, random_state=seed)

df, y_resampled = over.fit_resample(train.drop(columns='y'), train.y)
df['y'] = y_resampled

df.loc[df.y=='yes', 'y'] = 1
df.loc[df.y=='no', 'y'] = 0

### something with testing set

In [3]:
test = pd.read_csv('../data/notebook_produced_2/test.csv')

test.loc[test.y=='yes', 'y'] = 1
test.loc[test.y=='no', 'y'] = 0

In [4]:
# df.to_csv('../data/notebook_produced_3/train.csv', index=False)
# test.to_csv('../data/notebook_produced_3/test.csv', index=False)