In [1]:
import pandas as pd
from imblearn.over_sampling import SMOTENC

seed = 36

train = pd.read_csv('../data/notebook_produced_2/train.csv')

train.head()

,pdays,job_admin.,job_blue-collar,job_entrepreneur,job_housemaid,job_management,job_retired,job_self-employed,job_services,job_student,...,day_of_week_wed,poutcome_failure,poutcome_success,previous,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,y
0,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,-0.1,0.93200,-42.0,4.191,5195.8,0
1,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,1.1,0.93994,-36.4,4.857,5191.0,0
2,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,1.4,0.93918,-42.7,4.962,5228.1,0
3,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,1.4,0.93918,-42.7,4.958,5228.1,0
4,0,1,0,0,0,0,0,0,0,0,...,0,1,0,1,-0.1,0.93200,-42.0,4.076,5195.8,0

In [2]:
cat_cols = [
    'pdays', #
    'job_admin.', 'job_blue-collar', 'job_entrepreneur', 'job_housemaid', 'job_management', 'job_retired', #
    'job_self-employed', 'job_services', 'job_student', 'job_technician', 'job_unemployed', #
#     'marital_divorced', 'marital_married', 'marital_single',
    'education_basic', 'education_high.school', 'education_professional.course', 'education_university.degree', 'education_unknown', #
    'default_no', 'default_unknown', #
#     'housing_no', 'housing_yes',
#     'loan_no', 'loan_yes',
    'contact_cellular', #
    'month_apr', 'month_aug', 'month_jul', 'month_jun', 'month_mar', 'month_may', 'month_nov', 'month_oct', 'month_sep', #
    'day_of_week_mon', 'day_of_week_thu', 'day_of_week_tue', 'day_of_week_wed', #
    'poutcome_failure', 'poutcome_success'
]

cols = train.columns.to_list()
cat_locations = [cols.index(name) for name in cat_cols]

## oversample TRAINING set with SMOTE

#### I need to split the data on success before upsampling

In [3]:
success = train.loc[train.poutcome_success==1, :]
failure_nonexistent = train.loc[train.poutcome_success==0, :]

success.shape, failure_nonexistent.shape

((963, 42), (27869, 42))

In [4]:
over = SMOTENC(categorical_features=cat_locations, random_state=seed)

sr, y_sr = over.fit_resample(success.drop(columns='y'), success.y)
sr['y'] = y_sr

fnr, y_fnr = over.fit_resample(failure_nonexistent.drop(columns='y'), failure_nonexistent.y)
fnr['y'] = y_fnr

df = pd.concat([sr, fnr], ignore_index=True, axis=0)
df.shape

(51782, 42)

### save test again just for convience

In [5]:
test = pd.read_csv('../data/notebook_produced_2/test.csv')
test.shape

(12356, 42)

In [6]:
# df.to_csv('../data/notebook_produced_3/train.csv', index=False)
# test.to_csv('../data/notebook_produced_3/test.csv', index=False)